<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit/Add New Product</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav>
  <a th:href="@{/}">Home</a>
  <a th:href="@{/admin}" class="active">Products</a>
  <a href="/admin">Admin</a>
</nav>

<div class="main-container">
  <h1 th:text="${product.id} ? 'Edit Product' : 'Add New Product'">Edit/Add New Product</h1>
  <form th:action="${product.id} ? @{/admin/products/{id}/edit(id=${product.id})} : @{/admin/products/create}" th:object="${product}" method="post" enctype="multipart/form-data">

  <div class="input-group">
      <label for="title">Title:</label>
      <input type="text" id="title" th:field="*{title}" placeholder="Product Title" required>
    </div>
    <div class="input-group">
      <label for="shortDescription">Short Description:</label>
      <textarea id="shortDescription" th:field="*{shortDescription}" rows="3" placeholder="Short description of product" required></textarea>
    </div>
    <div class="input-group">
      <label for="price">Price:</label>
      <input type="number" id="price" th:field="*{price}" placeholder="Price" step="0.01" required>
    </div>
    <div class="input-group">
      <label for="image">Upload Image:</label>
      <input type="file" name="image" id="image" accept="image/*">
    </div>
    <input type="hidden" th:field="*{imageId}">

    <button type="submit" class="btn btn-edit">Save Product</button>
  </form>
</div>
</body>
</html>
